body {
    background: #ffffff;
  }
  .accordion{
    margin: 40px 0;
  }
  .accordion .item {
      border: none;
      margin-bottom: 50px;
      background: none;
  }
  .t-p{
    color: rgb(0, 0, 0);
    padding: 40px 30px 0px 30px;
  }
  .accordion .item .item-header h2 button.btn.btn-link {
      background: #000000;
      color: white;
      border-radius: 0px;
      font-family: 'Poppins';
      font-size: 16px;
      font-weight: 400;
      line-height: 2.5;
      text-decoration: none;
  }
  .accordion .item .item-header {
      border-bottom: none;
      background: transparent;
      padding: 0px;
      margin: 2px;
  }
  
  .accordion .item .item-header h2 button {
      color: white;
      font-size: 20px;
      padding: 15px;
      display: block;
      width: 100%;
      text-align: left;
  }
  
  .accordion .item .item-header h2 i {
      float: right;
      font-size: 30px;
      color: #eca300;
      background-color: black;
      width: 60px;
      height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 5px;
  }
  
  button.btn.btn-link.collapsed i {
      transform: rotate(0deg);
  }
  
  button.btn.btn-link i {
      transform: rotate(180deg);
      transition: 0.5s;
  }
  